:root
{
  --black: #222;
  --black-seccondary: #555;
  --pink: rgb(212, 69, 181);
  --red: rgb(173, 92, 92);
  --blue: rgba(31, 38, 135, 0.37);
  --gray: #999;
  --white: #fff;
  --white-seccondary: #efefef;
  --bg-black: #222;
  --popup-color: #595959;
}

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: var(--black);
  user-select: none;
  outline: 0 none;
}

body 
{
  background: url("./static/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container 
{

  width: 100%;
  display: flex;
  flex-direction: column;
}

.info {
  margin: 0 auto;
  padding: 40px 30px;
  width: 50%;
  background-color: var(--bg-black);
  border-radius: 0 0 10px 10px;
}

.info .info__title 
{
  width: 100%;
  padding-left: 30px;
}

.info__title h1 
{
  color: var(--white);
  display: flex;
  align-items: center;
}

.info__title h1 i {
  color:var(--white);
  margin-right: 10px;
}

.info .info__description 
{
  width: 100%;
  text-align: justify;
  color: var(--white);
  padding: 0 30px;
}

.info__description p {
  font-family: "Segoe UI", system-ui;
  font-weight: 200;
  font-size: 18px;
  color: var(--white);
}

.info__help {
  width: 100%;
}

button.help__button {
  margin-top: 10px;
  margin-left: 30px;
  background: inherit;
  border: none;
  color: var(--white);
  font-weight: bold;
}

button.help__button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.app
{
  margin: 30px auto;
  width: 50%;
  height: fit-content;
  padding: 50px 60px;
  border-radius: 10px;
  background: var(--white-seccondary);
  box-shadow: 0 8px 32px 0 var(--blue);
  backdrop-filter: blur( 12.5px );
  -webkit-backdrop-filter: blur( 12.5px );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 250px
}

.app h1
{
  margin: 20px 0 10px 0;
  font-size: 60px;
  display: flex;
  align-items: center;
}

.app h1 i {
  margin-right: 10px;
}

.app p
{
  margin: 0 0 10px 0;
  font-size: 25px;
  font-weight: bold;
  color: var(--black-seccondary);
}

.app .app__calculator input.costEntry
{
  margin: 10px 0 20px;
  background-color: var(--white);
  border: 2px solid var(--gray);
  outline: 0 none;
  width: 60%;
  height: 60px;
  padding-left: 5px;
  font-size: 40px;
  text-align: center;
  transition: all .2s;
  border-radius: 4px;
  font-family: "Source Code Pro";
  transform: all .3s;
}

.app .app__calculator input.costEntry:focus
{
  border: 2px solid var(--black-seccondary);
  transform: all .3s;
}

.app .app__calculator input.costEntry:invalid 
{
  border: 2px solid var(--red);
  transform: all .3s;
}

.app .app__calculator p.costResult 
{
  color: var(--pink);
}


.app .app__calculator button.costButton 
{
  margin-top: 15px;
 background: url("./static/background.png");
 background-repeat: no-repeat;
 background-size: cover;
 border: none;
 color: var(--white);
 font-weight: bold;
 font-size: 20px;
 padding: 15px 80px;
 width: 60%;
 cursor: pointer;
 transition: all .3s;
 text-align: center;
 border-radius: 4px;
 
}

.app .app__calculator button.costButton:hover
{
  transition: all .3s;
  transform: scale(1.05);
}

.app .app__footer
{
  margin-top: 20px;
}

.app .app__footer small.more-info a 
{
  text-decoration: none;
  font-weight: bold;
  color: var(--black);
}

.app .app__footer small.more-info a:hover 
{
  text-decoration: underline;
}

.footer 
{
  margin: 0 auto;
  width: 50%;
  /*background-color: var(--black);*/
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
  /*border: 1px solid rgba(255, 255, 255, 0.26);*/
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.footer .icon 
{
  margin: 0 20px;
}

.footer .icon i 
{
  display: block;
  font-size: 20px;
  padding: 30px;
}

.footer .icon a 
{
  text-decoration: none;
}

.footer .icon a i 
{
  color: var(--white);
  transition: all .3s;
}

.footer .icon a i:hover 
{
  transform: scale(1.04);
  transition: all .3s;
}

@media (max-width: 1400px)
{
  .footer
  {
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width:1100px) 
{
  h1.title
  {
    font-size: 50px;
  }

  .app 
  {
    width: 90%;
  }

  .info 
  {
    width: 90%;
  }

}

@media (max-width:800px) 
{

  .app 
  {
    padding: 30px 40px;
  }

  .app .app__title h1.title 
  {
    margin-top: 30px;
    font-size: 30px;
    display: flex;
  }

  .app .app__description p.description__label 
  {
    font-size: 15px;
  }  

  .app .app__calculator input.costEntry 
  {
    width: 95%;
  }

  .app .app__calculator button.costButton 
  {
    width: 95%;
    margin-top: 0;
    padding: 20px 30px;
  }
}

@media (max-width: 500px)
{
  .info__title h1 {
    font-size: 28px;
  }

  .info__title {
    margin-bottom: 10px;
  }

  .info__description p {
    font-size: 16px;
  }
}


/* Swal config */

body > div.swal2-container.swal2-center.swal2-fade.swal2-shown > div.swal2-popup.helpAlert > div.swal2-header > div.swal2-icon.swal2-info.swal2-animate-info-icon {
  color: var(--popup-color);
  border-color: var(--popup-color);
}

body.swal2-shown > [aria-hidden="true"] {
  filter: blur(10px);
}

.swal2-popup.helpAlert #swal2-content {
  text-align: left !important;
  padding: 0 30px;
}

.swal2-popup.helpAlert #swal2-content b {
  color: var(--popup-color);
}

.swal2-popup.helpAlert #swal2-content {
  display: flex;
  flex-wrap: wrap;
}

span.separator {
  display: block;
  border-top: 2px solid var(--gray);
  width: 100%;
  margin: 10px 0;
}

body > div.swal2-container.swal2-center.swal2-fade.swal2-shown > div.swal2-popup.helpAlert > div.swal2-actions > button.swal2-confirm.swal2-styled {
  background: url("./static/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body > div.swal2-container.swal2-center.swal2-fade.swal2-shown > div > div.swal2-header > div.swal2-icon.swal2-warning.swal2-animate-warning-icon {
  color: var(--popup-color);
  border-color: var(--popup-color);
}

body > div.swal2-container.swal2-center.swal2-fade.swal2-shown > div > div.swal2-header > div.swal2-icon.swal2-error.swal2-animate-error-icon {
  color: var(--popup-color);
  border-color: var(--popup-color);
}

body > div.swal2-container.swal2-center.swal2-fade.swal2-shown > div > div.swal2-header > div.swal2-icon.swal2-error.swal2-animate-error-icon > span > span.swal2-x-mark-line-left {
  background-color: var(--popup-color);
}

body > div.swal2-container.swal2-center.swal2-fade.swal2-shown > div > div.swal2-header > div.swal2-icon.swal2-error.swal2-animate-error-icon > span > span.swal2-x-mark-line-right {
  background-color: var(--popup-color);
}

body > div.swal2-container.swal2-center.swal2-fade.swal2-shown > div > div.swal2-actions > button.swal2-confirm.swal2-styled {
  background: url("./static/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}