*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: #222;
  user-select: none;
  outline: 0 none;
}

body {
  background: url("./static/background.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.header 
{
  width: 100%;
  text-align: center;
  padding: 30px 20px;
}

.container 
{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;

}

.app
{
  margin: 25vh auto;
  width: 50%;
  height: fit-content;
  padding: 50px 60px;
  border-radius: 10px;
  background: #efefef;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12.5px );
  -webkit-backdrop-filter: blur( 12.5px );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 250px
}

.app h1
{
  margin: 20px 0 10px 0;
  font-size: 60px;
}

.app p
{
  margin: 0 0 10px 0;
  font-size: 25px;
  font-weight: bold;
  color: #555;
}

.app input.costInput
{
  margin: 10px 0 20px;
  background-color: #fff;
  border: 2px solid #999;
  outline: 0 none;
  width: 60%;
  height: 60px;
  padding-left: 5px;
  font-size: 40px;
  text-align: center;
  transition: all .2s;
  border-radius: 4px;
  font-family: "Source Code Pro";
  transform: all .3s;
}

.app input.costInput:focus
{
  border: 2px solid #555;
  transform: all .3s;
}

p.realValue {
  color: rgb(212, 69, 181);
}


.app button.costButton 
{
  margin-top: 15px;
 background: url("./static/background.png");
 background-repeat: no-repeat;
 background-size: cover;
 border: none;
 color: #fff;
 font-weight: bold;
 font-size: 20px;
 padding: 15px 80px;
 width: 60%;
 cursor: pointer;
 transition: all .3s;
 text-align: center;
 border-radius: 4px;
}

.app button.costButton:hover
{
  transition: all .3s;
  transform: scale(1.05);
}

small.more-info {
  margin-top: 20px;
}

@media (max-width:1100px) 
{
  h1.title
  {
    font-size: 50px;
  }

  .app {
    width: 90%;
  }
}

@media (max-width:800px) 
{
  .app {
    margin-top: 15vh;
    padding: 30px 40px;
  }
  h1.title {
    margin-top: 30px;
    font-size: 30px;
  }
  p.comment {
    font-size: 15px;
  }  
  .app input.costInput {
    width: 95%;
  }

  .app button.costButton {
    width: 95%;
    margin-top: 0;
    padding: 20px 30px;
  }
}